<mat-tab-group animationDuration="0ms">

  <mat-tab label="Created users"> 
    <ul>
      <li *ngFor="let user of users">
        <nz-card style="width:300px;" nzTitle="{{user.name}}">
          <p>Position: {{user.position | user}}</p>
        </nz-card>
      </li>
    </ul>
  </mat-tab>

  <mat-tab label="Add user">
    <form>
      <div>
        <input type="text" placeholder="Name" id="name"/>
      </div>
      <div>
        <input type="text" placeholder="Position" id="position"/>
      </div>
      <button nz-button class="login-form-button login-form-margin" (click)="createUser()">Create</button>

      <div>
        <label id="reg_label"></label>
      </div>
    </form>
    </mat-tab>

    <mat-tab label="Got users"> 
      <ul>
        <li *ngFor="let entity of pages">
          <nz-card style="width:300px;" nzTitle="{{entity.name}}">
            <p>Position: {{entity.position | user}}</p>
          </nz-card>
        </li>
      </ul>
    </mat-tab>

</mat-tab-group>