<mat-tab-group animationDuration="0ms">
  <mat-tab label="Created users"> 
    <ul>
      <li *ngFor="let user of users">
        <nz-card style="width:300px;" nzTitle="User:">
          <a [routerLink]="['/person', user.id]">Name: {{user.name}}</a>
          <p>Gender: {{user.gender}}</p>
          <p>Height: {{user.height}}</p>
          <p>Position: {{user.position | user}}</p>
        </nz-card>
      </li>
    </ul>
  </mat-tab>

  <mat-tab label="Add user">
    <form>
      <div>
        <input type="text" placeholder="Name" id="name"/>
      </div>
      <div>
        <input type="text" placeholder="Gender" id="gender"/>
      </div>
      <div>
        <input type="text" placeholder="Height" id="height"/>
      </div>
      <div>
        <input type="text" placeholder="Position" id="position"/>
      </div>
      <button nz-button class="login-form-button login-form-margin" (click)="createUser()">Create</button>

      <div>
        <label id="reg_label"></label>
      </div>
    </form>
    </mat-tab>

    <mat-tab label="User">
      <app-person></app-person>
    </mat-tab>
    <div>
      <router-outlet></router-outlet>
    </div>
</mat-tab-group>